.bike-info {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;

  h1 {
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 16px;
  }

  .photo-and-links {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 32px 0;

    aside {
      width:fit-content;
      max-width: 700px;
      height: 400px;
      position: relative;
      
    }

    div {
      display: flex;
      flex-direction: column;
      width:30%;


      button {
        width: 128px;
        height: 48px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
