.category-button {
    width:272px;
    height:60px;
    font-size: 20px;
    font-family: 'Blinker', sans-serif;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}