.home-link-box {
    max-width:560px;
    width:100%;
    min-width: 388px;
    height:160px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    //margin:0 8px 16px 8px;

    h3 {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin:0 0 8px 0;
    }

    p{
        font-size: 16px;
    }

    button {
        background-color: var(--primary-color);
        color: white;
        font-size: 20px;
        font-weight:500;
        height:48px;
        width:128px;
        border:none;
        border-radius: 8px;
        margin:0 auto 8px auto;
      }
      button:hover {
        background-color: #1b40c8;
      }
}

.center-margin {
    grid-column: 1 / span 2;
    margin: 0 auto;
}