.navbar {
  height: 100px;
  width: 100vw;
  background: #d9d9d9;

  div {
    height: 100%;
    width: 100%;
    max-width: 1136px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 0 4px 0 8px;
    }

    ul {
      list-style-type: none;
      display: flex;
      max-width: 440px;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.waiting-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.chosen-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
