.home {
  width:100vw;

  .background-photo {
    width:100%;
    height:480px;
    background-image: url("../../public/bike_background.jpg");
    background-position:50% 45%;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;

    section {
      height:200px;
      width:560px;
      display:flex;
      align-items:center;
      flex-direction: column;
      color:white;

      h1 {
        font-size: 40px;
        font-weight:500;
        height:40px;
        margin-bottom: 8px;
      }
      h2{
        font-size:20px;
        font-weight: 400;
        margin-bottom:16px;
      }
      button {
        background-color: var(--primary-color);
        color: white;
        font-size: 20px;
        font-weight:500;
        height:48px;
        width:128px;
        border:none;
        border-radius: 8px;
      }
      button:hover {
        background-color: #1b40c8;
      }
    }
  }

  .search-home {
    width:100%;
    height:contain;
    display:flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 20px;
      margin: 24px 0 16px 0;
    }
  }

  .category-pick-home {
    width:100%;
    max-width: 1136px;
    margin:0 auto;
    margin-top:48px;

    h2 {
      font-size: 20px;
      text-align: center;
    }

    .category-grid {
      margin-top:32px;
      max-width:1136px;
      width:100%;
      display:grid;
      gap:16px 16px;
      grid-template-columns: repeat(4, 272px);
    }
  }

  .about-bikes {
    max-width: 1136px;
    width:100%;
    height:354px;
    margin: 48px auto;
    display:flex;
    justify-content: space-between;

    aside {
      max-width:560px;
      width:50%;
      height:100%;
      position: relative;
    }
    
    article {
      max-width:576px;
      width:50%;
      padding-left:16px;
      box-sizing: border-box;

      h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .links-home {

    max-width:1136px;
    width:100%;
    height: contain;
    margin:0 auto;
    display:grid;
    gap: 16px 16px;
    grid-template-columns: fit-content(560px) fit-content(560px);
    margin-bottom:48px;
  }
}